tutorial1/tutorial1-solution.hs
tutorial1/tutorial1-solution.pdf

tutorial2/tutorial2-solution.hs
tutorial2/tutorial2-solution.pdf

tutorial3/tutorial3-solution.hs
tutorial3/tutorial3-solution.pdf

tutorial4/tutorial4-solution.hs
tutorial4/tutorial4-solution.pdf

tutorial5/tutorial5-solution.hs
tutorial5/tutorial5-solution.pdf

tutorial6/tutorial6-solution.hs
tutorial6/tutorial6-solution.pdf

tutorial7/tutorial7-solution.hs
tutorial7/tutorial7-solution.pdf

tutorial8/tutorial8-solution.hs
tutorial8/tutorial8-solution.pdf

tutorial9/tutorial9-solution.hs
tutorial9/tutorial9-solution.pdf

tutorial10/tutorial10-solution.hs
tutorial10/tutorial10-solution.pdf