tutorial1/Tutorial1Solution.hs
tutorial1/Tutorial1Solution.pdf

tutorial2/Tutorial2Solution.hs
tutorial2/Tutorial2Solution.pdf

tutorial3/Tutorial3Solution.hs
tutorial3/Tutorial3Solution.pdf

tutorial4/Tutorial4Solution.hs
tutorial4/Tutorial4Solution.pdf

tutorial5/Tutorial5Solution.hs
tutorial5/Tutorial5Solution.pdf

tutorial6/Tutorial6Solution.hs
tutorial6/Tutorial6Solution.pdf

tutorial7/Tutorial7Solution.hs
tutorial7/Tutorial7Solution.pdf

tutorial8/Tutorial8Solution.hs
tutorial8/Tutorial8Solution.pdf

tutorial9/Tutorial9Solution.hs
tutorial9/Tutorial9Solution.pdf

tutorial10/Tutorial10Solution.hs
tutorial10/Tutorial10Solution.pdf