tutorial6/Tutorial6Solution.hs
tutorial6/Tutorial6Solution.pdf

tutorial7/Tutorial7Solution.hs
tutorial7/Tutorial7Solution.pdf

tutorial8/Tutorial8Solution.hs
tutorial8/Tutorial8Solution.pdf

tutorial9/Tutorial9Solution.hs
tutorial9/Tutorial9Solution.pdf

tutorial10/Tutorial10Solution.hs
tutorial10/Tutorial10Solution.pdf